<div class="container">
  <header class = "jumbotron">
    <h1>Super Rentals</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <p>{{#link-to 'index'}}Home Page{{/link-to}}</p>
    <p>{{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}</p>
  </footer>
</div>
