<h2>More information about {{model.announcer}}'s announcement!</h2>

{{announcement-detail model=announcement destroyAnnouncement="destroyAnnouncement"}}

{{update-announcement model=announcement update="update"}}
